<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Attr ' + ${zoneName} + ' Zone ' + ${zoneName} + ' - CloudAtlas'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/chartjs/2.8.0/Chart.js"></script>
    <script src="/attribute.js"></script>
</head>
<body>
<h1>Zone: <span id="zone_name" th:text="${zoneName}"></span></h1>
<h2>Attribute: <span id="attribute" th:text="${attribute}"></span></h2>
<p id="error"></p>
<canvas id="plot" width="0.1" height="0.5"></canvas>
</body>
</html>
