<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change agent - CloudAtlas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="menu :: menu"></div>
<div class="container">
    <h1>Change agent</h1>
    <form action="#" th:action="@{/change_agent}" th:object="${changeAgentForm}" method="post">
        <p>Hostname: <input type="text" th:field="*{hostname}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <p th:text="${message}"></p>
</div>
</body>
</html>
