<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Install query - CloudAtlas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Install query</h1>
<form action="#" th:action="@{/install}" th:object="${installForm}" method="post" id="install_form">
    <p>Name (without &): <input type="text" th:field="*{name}" /></p>
    <p>Query: <textarea rows="20" cols="80" th:field="*{query}" form="install_form"></textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<p th:text="${message}"></p>
</body>
</html>
